parameters:
    jwt:
        secret: 'LaAO8sgle3CNL6/MiM5l6A==' #TODO: move to local.neon
        ttl: 3600

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter

latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension

di:
	export:
		parameters: no
		tags: no
